body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: black;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
}
.connect {
    position: absolute;
    padding: 2em;
    background: black;
    color: white;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    display: grid;
    justify-content: center;
    align-items: center;
}

.data {
    padding: 2em;
    background: #000000d0;
    color: white;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
    display: none;
    justify-content: center;
    align-items: center;
}


button.search-button {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
}

input.search-bar {
    text-align: center;
    width: 300px;
    height: 30px;
    border-radius: 15px;
    border: none;
}

.temperature{
    font-size: 30px;
    margin-bottom: 10px;
}

.cityname{
    margin-bottom: 5px;
    font-size: 35px;
}

.sidetoside {
    display: flex;
    align-items: center;
}

img.icon {
    margin-left: 5px;
}

.weatherdata.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }

.enterKey{
    font-size: 20px;
    margin-bottom: 10px;
    font-family: 'Courier New', monospace;
}

.key-bar{
    height: 30px;
    text-align: center;
    font-size: 15px;
}

.time{
    font-size: 25px;
}